
.input {
    width: 500px; 
    border-radius: 35px;
    margin: 15px;
    height: 30px;
}

.input input {
    border: none;
    outline: none;
    width: 300px;
    border-radius: 35px;
    font-size: 14px;
    color: #00C0A3;
    text-indent: 10px;
    margin-top: 5px;
}

.input input::placeholder {
    color: #05a78e;
}

.bg-color {
    background-color: #ffffff;
}

