.landing {
    background-color: #111111;
    height: 195vh;
    margin: 0;
    padding: 5px;
 
}

.flex {
    display: flex;
    align-items: flex-start;
}
.row {
    justify-content: space-between;
    flex-direction: row;
}

.column {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 40px;
    height: 50px;
    margin-right: 20px;
}

.name {
    color: #00C0A3;
    font-size: 20px;
}

.nav-items p,a {
    color: white;
    margin-right: 40px;
    font-size: 20px;
}

.nav-items{
    cursor: pointer;
}
.nav-items a {
    text-decoration: none;
}

.nav-items p:hover {
    color: #00C0A3;
}
.nav-items a:hover {
    color: #00C0A3;
}


.hero {
    width:100%;
    height: 90vh;
    object-fit: cover;
    overflow: hidden;
}

h1 {
    color: #579b40;
    margin: 20px;
    font-size: 50px;
}

.why-us {
    font-size: 24px;
    color: rgb(227, 241, 229);
    background-color: #017766;
    margin: 20px;
    padding: 20px;
    line-height: 2;
    border-radius: 25px;
    margin-bottom: 99px;
}

.footer {
    background-color: #017766;
    height: 19vh;
    padding: 30px;
    color: white;
}

h2{
    color: white;
    font-size: 30px;
}

.footer img {
    height: 40px;
    margin-left: 30px;
    margin-right: -12px;

}
.icons {
    justify-content: center;
}
Button {
    color: white;
    transition: background-color 0.6s;
    transform: translate(-20%, -50%);
}
.suggestions-list {
    list-style-type: none;
    margin: 47px 0px 0px 434px;
    max-height: 150px;
    overflow-y: auto;
    background-color: rgb(3, 147, 130);
    position: absolute;
    width: 31vw;
    color:white;
    z-index: 1000;
}

.suggestion-item {
    padding: 5px;
    cursor: pointer;
    margin-left: -35px;
    font-size: large;
    margin-Top: -30px;
    margin-bottom: 20px;
}

