
.chat-container {
    background-color: black;
    color: #00c0a3;
    padding: 20px;
    height : 100%;
}

.chat-title {
   color: #34c5af; 
    font-size: 60px;
    margin: 40px;
}

.chat-list {
    list-style: none;
    padding: 0;
}

.chat-item {
    margin-bottom: 20px;
}

.chat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    padding: 25px;
    margin: 40px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.chat-card:hover {
    background-color: #444; 
    transform: scale(1.03); 
    cursor: pointer; 
}
.chat-date {
    color: #00c0a3;
    margin-right: 60px;
}

.chat-actions {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.chat-name {
    font-size: 24px;;
}