/* Chat.css */
.chat-container {
    background-color: black;
    color: rgb(62, 223, 215);
    padding: 20px;
    height : 100%;
}

.chat-title {
   color: rgb(62, 223, 215); /* Ensures the title stands out as bright white */
}

.chat-list {
    list-style: none;
    padding: 0;
}

.chat-item {
    margin-bottom: 20px;
}

.chat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    padding: 25px;
    margin: 20px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.chat-card:hover {
    background-color: #444; 
    transform: scale(1.05); 
    cursor: pointer; 
}
.chat-date {
    color: aqua;
}
  